COMP6321_A3/WebContent/wsdl/ndl.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.vhs.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.vhs.com/" name="ManagerServerImplService">
<types></types>
<message name="bookFlight">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
</message>
<message name="bookFlightResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="getBookedFlightCount">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getBookedFlightCountResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="editFlightRecord">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="editFlightRecordResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="transferReservation">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="transferReservationResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="ManagerServer">
<operation name="bookFlight" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://server.vhs.com/ManagerServer/bookFlightRequest" message="tns:bookFlight"></input>
<output wsam:Action="http://server.vhs.com/ManagerServer/bookFlightResponse" message="tns:bookFlightResponse"></output>
</operation>
<operation name="getBookedFlightCount">
<input wsam:Action="http://server.vhs.com/ManagerServer/getBookedFlightCountRequest" message="tns:getBookedFlightCount"></input>
<output wsam:Action="http://server.vhs.com/ManagerServer/getBookedFlightCountResponse" message="tns:getBookedFlightCountResponse"></output>
</operation>
<operation name="editFlightRecord" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server.vhs.com/ManagerServer/editFlightRecordRequest" message="tns:editFlightRecord"></input>
<output wsam:Action="http://server.vhs.com/ManagerServer/editFlightRecordResponse" message="tns:editFlightRecordResponse"></output>
</operation>
<operation name="transferReservation" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://server.vhs.com/ManagerServer/transferReservationRequest" message="tns:transferReservation"></input>
<output wsam:Action="http://server.vhs.com/ManagerServer/transferReservationResponse" message="tns:transferReservationResponse"></output>
</operation>
</portType>
<binding name="ManagerServerImplPortBinding" type="tns:ManagerServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="bookFlight">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</output>
</operation>
<operation name="getBookedFlightCount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</output>
</operation>
<operation name="editFlightRecord">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</output>
</operation>
<operation name="transferReservation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://server.vhs.com/"></soap:body>
</output>
</operation>
</binding>
<service name="ManagerServerImplService">
<port name="ManagerServerImplPort" binding="tns:ManagerServerImplPortBinding">
<soap:address location="http://localhost:8081/ndl"></soap:address>
</port>
</service>
</definitions>